{% extends "base.html" %}
{% block content %}

<h1>Google Login</h1>
<p>Before moving any further, we'll need access to your Gmail account.</p>
<p class="muted">We promise to do nothing nefarious with your data in the meantime...</p>

<div class="container">
	<form action="/credentials/diurnal/" method="post">{% csrf_token %}
	  <fieldset>
	    <legend>Authorize Credentials</legend>
	    <label>Username</label>
	    <div class="input-append">
	   		<input class="span2" id="appendedInput" type="text" name="email">
	   		<span class="add-on">@gmail.com</span>
		</div>
	    <label name="pw">Password</label>
	   	<input type="password" placeholder="my password" name="pw">
	   	<label>How many days back would you like to plot?</label>
	   	<input type="text" placeholder="Integer number of days..." name="daysback">
	    <p></p>
	    <button type="submit" class="btn">Submit</button>

	  </fieldset>
	</form>

</div>
<p>Here's a good link for you</p>
<a href="{% url 'blah' 'asd234' %}">go to blah blah</a>
{% endblock %}